html, body{
	padding: 0;
	margin: 0;
	font-size:20px;
	text-align:center;	
	font-family: merriweatherSans;
	background-color: #000500;
	padding:0px;
	color:#9E1024;
}

#mocha{
	color:white;
	text-shadow: none;
	float:right;
}

#mocha h1{
	text-shadow: none;
}

h1{
	margin:0px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-shadow: 2px 2px 1px #ffb029;
}

.header{
    background: #405040; 
    background: -webkit-linear-gradient(#405040, #405240);
    background: -o-linear-gradient(#405040, #405240); 
    background: -moz-linear-gradient(#405040, #405240); 
    background: linear-gradient(#405040, #405240); 
    border-bottom:2px solid #9E1024;
}

fieldset{
	width:500px;
	margin:0 auto;
	margin-bottom:20px;
	border:none;
}

table{
	margin: 0 auto;
	margin-top: 30px;
}

td{
	height:10px;
	width:10px;
	border-radius:5px;
}

td.alive{
	background: green;
}

td.dead{
	background: #D9D9D9;
}

input[type="number"]{
	width:50px;
	font-size: 20px;	
	background-color:#ddd;
	color:#9E1024;
}

input[type="checkbox"]{
	transform: scale(1.5);
}

label{
	font-size: 27px;
}

button{
	width:80px;
	font-size:21px;
	padding-bottom:3px;
	border-radius: 3px;
	color:#9E1024;
	background-color:#aaaaaa;
}

button:hover{
	cursor:pointer;
}

#nextButton, #startButton{
	display: none;
}

input[type="range"]{
	width:50px;
	vertical-align: sub;
	display: none;
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: normal;
    src: local('merriweatherSans'),
    	url('fonts/merriweather-sans/MerriweatherSans-Regular.otf') format('otf'),
     	url('fonts/merriweather-sans/MerriweatherSans-Regular.woff') format('woff'),
    	url('fonts/merriweather-sans/MerriweatherSans-Regular.svg') format('svg');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: bold;
    src: local('merriweatherSans'),
    	url('fonts/merriweather-sans/MerriweatherSans-ExtraBold.otf') format('otf'),
    	url('fonts/merriweather-sans/MerriweatherSans-ExtraBold.ttf') format('ttf'),
    	url('fonts/merriweather-sans/MerriweatherSans-ExtraBold.woff') format('woff'),
    	url('fonts/merriweather-sans/MerriweatherSans-ExtraBold.svg') format('svg');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: lighter;
    src: local('merriweatherSans'),
    	url('fonts/merriweather-sans/MerriweatherSans-Light.otf') format('otf'),
    	url('fonts/merriweather-sans/MerriweatherSans-Light.ttf') format('ttf'),
    	url('fonts/merriweather-sans/MerriweatherSans-Light.woff') format('woff'),
    	url('fonts/merriweather-sans/MerriweatherSans-Light.svg') format('svg');
}

